#Facebook-logo {
    height: 25px;
    margin: auto;
}

#GitHub-logo {
    height: 25px;
    margin: auto;
}

#Linkedin-logo {
    height: 25px;
    margin: auto;
}

#Facebook-logo:hover,
#Linkedin-logo:hover,
#GitHub-logo:hover {
    opacity: 0.1;
    color: rgb(127, 127, 128);
}

#navtitu {
    color: whitesmoke;
    font-size: 12px;
}

.nav-link {
    margin-bottom: -10px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: rgb(115, 142, 218);
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 768px) {
    .h-custom {
        height: 100%;
    }
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

#show_password {
    width: 44px;
    height: 40px;
    float: right;
    position: relative;
    margin: -40px 0 0 387px;
    cursor: pointer;
}

.foto-nav {
    border-radius: 100px;
    box-shadow: 0px 0px 0px;
    width: 35px;
}
